:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ship-height: 64px;
  --ship-width: 30px;
  --ship-offset-y: 10vh;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ship {
  height: var(--ship-height);
  width: var(--ship-width);
  position: fixed;
  left: 50vw - calc(var(--ship-width) / 2 );
  bottom: var(--ship-offset-y);
  font-size: 45px;
}

.laser {
  height: 12px;
  width: 2px;
  background: yellowgreen;
  position: fixed;
}

.alien {
  height: 30px;
  width: 30px;
  position: fixed;
}

.alien::after
{
  font-size: 32px;
  content: "👾";
}
